{:paths ["src"]
 :deps {babashka/process {:mvn/version "0.6.25"}
        babashka/fs {:mvn/version "0.5.30"}
        nrepl/bencode {:mvn/version "1.2.0"}}
 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "1.91.1392"}
    io.github.tonsky/clj-reload {:mvn/version "1.0.0"}}}}}
